streamlit
google-generativeai
openai
groq
requests
pymongo
pinecone-client
folium
streamlit-folium
kafka-python
shodan
twilio
watchdog
scikit-learn
opencv-python-headless
pyaudio
numpy
vt-py
gql
requests

